body {
    font-family: 'Montserrat';
}
h1 {
    font-size: 70px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.signup-circle a{
    border: 1px solid white;
}

.wrapper {
  display: none;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  position: fixed;
}

#closeit {

	padding: 3px 3px;

}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  border: 2px solid #03fcf8;
  max-width: 450px;
  position: relative;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}


input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}


input[type=text]:placeholder {
  color: #cccccc;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #03fcf8;
  border-radius: 5px 5px 5px 5px;
}

input[type=submit]{

	padding: 12px 30px;
	margin-top: 10px;
	background-color: #ffffff;
	border: 3px solid #03fcf8;
	border-radius: 5px 5px 5px 5px;
}

input[type=submit]:hover{

	background-color: #03fcf8 ;
}