body {
    font-family: 'Montserrat';
}
h1 {
    font-size: 70px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.signup-circle a{
    border: 1px solid white;
}