<!DOCTYPE html>
<html lang="en">

<head>
  <title>GGTeam | Start Building Your Dream Team</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/about.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/4a262f6e85.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js">	</script>
  <link rel="stylesheet" href="css/mystyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      font-family: 'Montserrat';
      padding-right: 0px;
      padding-left: 0px;
    }

    h1 {
      font-size: 70px;
    }
  </style>
</head>

{{{body}}}

</html>