<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/mystyle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Find Team Dashboard</title>
</head>
<body style="background-color: #737373">

	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav mr-auto">
				<a class="navbar-brand" href="index.html">
					<img src="img/logowhite.png" alt="logo">
				</a>
				<h2 style="color: white">|</h2>
				<h2 style="color: white" class="ml-3">Find Team Dashboard</h2>
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="!#">Notification</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="!#">LogOut</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<div class="col mt-5">
				<button type="button" class="btn btn-dark mr-3 px-auto mx-auto" style="width: 100%"><h3>#GameList</h3></button>
			</div>
		</div>
		<div class="row">
			<div class="col-4 mt-3">
				<button type="button" class="btn btn-dark px-auto mx-auto" style="width: 100%; height: 200px;"><h3>#Profile</h3></button>

			</div>
			<div class="col-8 mt-3">
				<button type="button" class="btn btn-dark px-auto mx-auto" style="width: 100%; height: 200px;"><h3>#Message</h3></button>
			</div>
		</div>
		<div class="row">
			<div class="col mt-3">
				<button type="button" class="btn btn-dark mr-3 px-auto mx-auto" style="width: 100%; height: 100px;"><h3>#Callendar</h3></button>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">	</script>

</body>
</html>