<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" href="/">
          <img src="/img/logowhite.png" alt="logo">
        </a>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">DEBUG-DASHBOARD</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">DEBUG-REGISTER</a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="container">
    <div class="mbr-white">
      <h2 class="text-center mbr-light pb-3 mbr-fonts-style display-2 font-weight-bold">About Our Team</h2>
      <p class="text-center pb-3 mbr-fonts-style display-5">We are all very different. We love different games, genre,
        movies. But we have something that unites us all. It is dreams. To build a platform that unites gamers with the
        same interest and the same goal. And to make them recognized.</p>
    </div>
  </div>
  <div class=" section-2">
    <br>
    <div class="container img-first">
      <img src="/img/about/topbg.jpg" alt="purpose">
    </div>
    <br>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col" style="display: inline-block; text-align: center;">
        <i class="fas fa-lightbulb fa-3x"></i>
        <br><br>
        <h4 class="text-center font-weight-bold">Creative</h4>
        <p class="text-center">We always improve our website uptodate to create comfort for our visitors and users</p>
      </div>
      <div class="col" style="display: inline-block; text-align: center;">
        <i class="fas fa-sync-alt fa-3x"></i>
        <br><br>
        <h4 class="text-center font-weight-bold">Unique</h4>
        <p class="text-center">Always come to a new ideas, concepts, and implementations to diverse from any new or
          existing kind</p>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <footer class="page-footer font-small unique-color-dark pt-4" style="background: #2d3246;">

      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1" style="color: white;">Register for free</h5>
        </li>
        <div class="signup-circle">
          <li class="list-inline-item">
            <a href="/register" class="btn btn-outline-white btn-rounded" style="color: white;">Sign up!</a>
          </li>
        </div>
      </ul>
      <div class="footer-copyright text-center py-3" style="color: #ffffff;">© 2018 Copyright:
        <a href="#">GGTeam</a>
      </div>
    </footer>
  </div>
</body>