<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" href="/">
          <img src="img/logowhite.png" alt="logo">
        </a>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">REGISTER</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="mbr-white">
      <h2 class="text-center mbr-light pb-3 mbr-fonts-style display-2 font-weight-bold">FAQ</h2>
      <p class="text-center pb-3 mbr-fonts-style display-5">Most questionable about our site is listed here.</p>
    </div>
  </div>
  <br>
  <div class="container">
    <h3 style="display: inline-block; text-align: left;">Q: What is GGTeam All About?</h3>
    <p>A: GGTeam is a players team finding platform that help players to find parties and create their desired team</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: What Games That I Can Choose To Find Party?</h3>
    <p>A: Login to our platform and quickly find your party based on your games choosing!</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: Can I Make A Team Based For Competitive Plays Not For
      Casual?
    </h3>
    <p>A: Yes! Make sure to make your team approval based and set "Competitive" on your team bio!</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: Help! I Can't Find My Games On The List!</h3>
    <p>A: Don't Worry! We will update that soon!</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: The Site Lacks Features</h3>
    <p>A: Thank you for understanding! We will try to add more features since we lack experience in Web and try our best
      to keep in touch!</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: Can I Make A Team Based For Competitive Plays Not For
      Casual?
    </h3>
    <p>A: Yes! Make sure to make your team approval based and set "Competitive" on your team bio!</p>
    <br>
    <h3 style="display: inline-block; text-align: left;">Q: The Site is Bad, Nothing Special</h3>
    <p>A: Sorry to hear that! We always improve our platform to be your desiring! Stay tuned for our next updates!</p>
    <!-- <div class="row">
			<div class="col" style="display: inline-block; text-align: center;">
				<i class="fas fa-lightbulb fa-3x"></i>
				<br><br>
				<h4 class="text-center font-weight-bold">Creative</h4>
				<p class="text-center">We always improve our website uptodate to create comfort for our visitors and users</p>
			</div>
			<div class="col" style="display: inline-block; text-align: center;">
				<i class="fas fa-sync-alt fa-3x"></i>
				<br><br>
				<h4 class="text-center font-weight-bold">Unique</h4>
				<p class="text-center">Always come to a new ideas, concepts, and implementations to diverse from any new or existing kind</p>
			</div>

		</div> -->
  </div>

  <div class="container-fluid">
    <footer class="page-footer font-small unique-color-dark pt-4" style="background: #2d3246;">

      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1" style="color: white;">Register for free</h5>
        </li>
        <div class="signup-circle">
          <li class="list-inline-item">
            <a href="/register" class="btn btn-outline-white btn-rounded" style="color: white;">Sign up!</a>
          </li>
        </div>
      </ul>
      <div class="footer-copyright text-center py-3" style="color: #ffffff;">© 2018 Copyright:
        <a href="#">GGTeam</a>
      </div>
    </footer>
  </div>
</body>